In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

a_1 = pd.read_csv('listings.csv', index_col = 0)
a_2 = pd.read_csv('listings2.csv', index_col = 0)
a_3 = pd.read_csv('calendar.csv', index_col = 0)

In [9]:
a_1.head()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
7328003,Bonito piso en lugar privilegiado,9205789,Alfonso,Centro,Palacio,40.411731,-3.713978,Entire home/apt,60,1,3,2015-09-21,3.00,2,343
6289024,Nice quiet room in La Latina,3305388,Esteban,Centro,Palacio,40.408333,-3.715059,Private room,25,1,1,2015-07-24,0.42,1,330
3778195,The Hat Madrid (Shared 8 Deluxe),10940437,Alfonso,Centro,Palacio,40.414976,-3.708322,Shared room,22,1,12,2015-09-13,0.91,11,347
7056183,Nice room with privilege views,19558259,Ligia,Centro,Palacio,40.420020,-3.714583,Private room,45,1,0,NaN,NaN,1,335
6847125,HABITACIÓN PARA 2 CON TERRAZA,21039137,Clara,Centro,Palacio,40.413867,-3.710233,Private room,37,2,3,2015-07-12,1.00,1,0

In [3]:
a_2.head()

,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
7328003,https://www.airbnb.com/rooms/7328003,20151002174606,2015-10-02,Bonito piso en lugar privilegiado,Piso de unos 80 metros cuadrados en Las Vistil...,NaN,Piso de unos 80 metros cuadrados en Las Vistil...,none,NaN,NaN,...,10.0,f,NaN,NaN,f,flexible,f,f,2,3.00
6289024,https://www.airbnb.com/rooms/6289024,20151002174606,2015-10-02,Nice quiet room in La Latina,I've got a functional extra room w/double bed ...,A three bedroom apartment (94m sq) shared wit...,I've got a functional extra room w/double bed ...,none,Estarás a 7 minutos a pie de la Plaza Mayor y ...,Me gusta que la gente que venga aquí sea respe...,...,10.0,f,NaN,NaN,f,flexible,f,f,1,0.42
3778195,https://www.airbnb.com/rooms/3778195,20151002174606,2015-10-02,The Hat Madrid (Shared 8 Deluxe),Un lugar con la ubicación perfecta para visita...,NaN,Un lugar con la ubicación perfecta para visita...,none,NaN,NaN,...,10.0,f,NaN,NaN,f,flexible,f,f,11,0.91
7056183,https://www.airbnb.com/rooms/7056183,20151002174606,2015-10-02,Nice room with privilege views,It's a bright room with wonderful views. You w...,Nice and bright room with incredible views to ...,It's a bright room with wonderful views. You w...,none,"The flat is next to the Templo de Debod park, ...",NaN,...,NaN,f,NaN,NaN,f,flexible,f,f,1,NaN
6847125,https://www.airbnb.com/rooms/6847125,20151002174606,2015-10-02,HABITACIÓN PARA 2 CON TERRAZA,Habitación con balcón y muy luminosa. Casa con...,"La habitación dispone de cama de matrimonio, c...",Habitación con balcón y muy luminosa. Casa con...,none,La ubicación del barrio de La Latina es perfec...,Cuarta planta sin ascensor.,...,9.0,f,NaN,NaN,f,flexible,f,f,1,1.00

In [4]:
a_3.head()

                  date available price
listing_id
7328003     2015-10-02         f   NaN
7328003     2015-10-03         f   NaN
7328003     2015-10-04         f   NaN
7328003     2015-10-05         f   NaN
7328003     2015-10-06         f   NaN

In [5]:
#Crear mapa de zonas por demanda

In [6]:
#Crear mapa de zonas por availability

In [7]:
#Crear mapa de zonas por precio

In [8]:
#Crear mapa de zonas por temporada

In [9]:
#Comparar availability por temporada (marzo, junio y octubre)

In [10]:
#Comparar precio por temporada